@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
    margin: 0px;
}

.menu{
    width: 13.75rem;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
}

.title{
    height: 4.25rem;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.nav-bar a{
    height: 2rem;
    display: flex;
    align-items: center;
    
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 0.938rem;
    color: #725C5C;

    border-bottom: 2px solid #E5E5E5;
    text-indent: 1.5rem;
}

.nav-bar a:hover{
    background-color: #FDF1EB;
    text-indent: 1.813rem;

    border-left: 5px solid #ED7839;
}

.container{
    margin-left: 13.75rem;
}

.menu-toggle{
    display: none;
}

.header-block{
    width: 100%;
    height: 4.25rem;
    background-color: #FDF1EB;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle h2, h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #725C5C;

    margin-left: 2.25rem;
}

.subtitle h2{
    font-size: 1.375rem;
}

.subtitle h5{
    font-size: 0.875rem;
}

.config{
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-dropdown,
.language-dropdown-option{
    width: 100px;
    height: 35px;
    margin-right: 2.5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #FDF1EB;

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.language-dropdown{
    border-radius: 3px;
}   

.language{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;

    list-style: none;
    float: left;

    cursor: pointer;
}

.language li{
    position: relative;
    float: left;
}

.language li  ul{
    padding: 0;
    position: absolute;
    top: 35px;
    left: 0px;
    display: none;
}

.language li:hover ul, .language li.over ul{
    display: block;
}

.language li ul li{
    display: block;
    width: 100px;
}

.account{
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
}

.perfil-data{
    margin-top: 1.06rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfil-data p{
    margin-right: 0.428rem;;
    font-family: 'Quicksand';
    font-weight: normal;
    color: #333333;
}

p.welcome {
    text-align: right;
    font-size: 0.875rem;
    margin-bottom: 0;
}

p.email{
    font-size: 0.75rem;
}

.account img{
    height: 1.875rem;
    border-radius: 50%;    
}

.information{
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.information p{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.25rem;

    letter-spacing: 0.05em;
    color: #ED7839;

    margin-left: 2.7rem;
}

.options{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2.8rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button{
    height: 1.9rem;
    margin-left: 0.3rem;
    background: #ED7839;

    border: none;
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;

    transition: 0.3s;
}

.buttons button:hover{
    background-color: #eb651e;
}

#download,
#favorite,
#doi{
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

#download{
    width: 7.5rem;
}

#favorite,
#doi{
    width: 2.68rem;
}

.options a{
    margin-top: 0.75rem;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.865rem;

    letter-spacing: 0.05em;
    color: #ED7839;
}

.options a:hover{
    text-decoration: underline;
}

.video{
    margin: auto 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video iframe{
    width: 49rem;
    height: 29.438rem;
}

.video .painel{
    margin: auto auto auto 2rem;
    width: 15.125rem;
}

.painel{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

h3{
    height: 2.813rem;
    text-indent: 0.938rem;
    display: flex;
    align-items: center;

    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    
    color: #4E4E4E;
}

.text-area{
    height: 24.625rem;
    padding: 0.938rem;

    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.02em;

    color: #5C5C5C;

    overflow-y: auto;
}

.text-area::-webkit-scrollbar, 
.text-abstract::-webkit-scrollbar{
	width: 3px;
}

.text-area::-webkit-scrollbar-track,
.text-abstract::-webkit-scrollbar-track{
    background-color: #E7E7E7;
    border-radius: 5px;
}

.text-area::-webkit-scrollbar-thumb
.text-abstract::-webkit-scrollbar-thumb{
    background-color: #BFBFBF;
    border-radius: 5px;
}

.text-area::-webkit-scrollbar-thumb:hover
.text-abstract::-webkit-scrollbar-thumb:hover{
    background-color: #ccc;
}

.authors{
    margin-top: 2rem;
    line-height: 1.25rem;
}

.authors p{
    margin-top: 0.32rem;
}

.institutes{
    margin-top: 2.5rem;
}

.abstract,
.discussions{
    margin: 1.875rem 2.68rem;
}

.expand-abstract{
    margin: 0.938rem;
}

.abstract .text-abstract{
    height: 9rem;
    overflow-y: hidden;  
}

.see-more {
    margin-top: 0;
    display: block;
    float: inline-end;
}

.abstract p,
.see-more span{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.875rem;
    line-height: 1.422rem;
    letter-spacing: 0.02em;

    text-align: justify; 
}

.abstract p{
    font-weight: 400;
    color: #5C5C5C;
}

.see-more span{
    color: #ED7839;
    font-weight: 700;
    text-decoration: none; 
    
    cursor: pointer;
}

.header-topic{    
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;

    text-align: center;

    color: #ED7839;
}

.painel .header-topic p{
    margin-bottom:0.875rem;

    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;

    color: #595959;
}

.painel .header-topic .images{
    margin: 1.7rem auto 2.25rem;
}

.painel .header-topic .images img{
    margin: auto 3rem;
}

.divide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel .header-topic .create-topic{
    height: 2rem;
    width: 8.125rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 0.938rem;

    text-align: center;

    color: #FFFFFF;

    border: none;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    cursor: pointer;

    z-index: 1;
}

.more{
    margin-left: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical, 
.horizontal{
    background: #FFFFFF;
    border-radius: 1px;
    Height: 1.063rem;
    width: 0.188rem;
    position: absolute;
}

.painel .header-topic .create-topic .horizontal{
    transform: rotate(-90deg);
}

.line{
    position: absolute;
    width: calc(100% - 13.75rem - 5.4rem - 2rem);
    border: 1px solid #E7E7E7;
}

/*FORM*/
.form{
    display: none;
    margin-left: 1.1rem;
}

.form span{
    margin: 0.938rem auto 1.375rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;

    color: #5C5C5C;
}

.form p{
    margin-bottom: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;

    color: #ED7839;

    text-align: left;
}

.form input{
    width: calc(100% - 1.1rem);

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
}

.topic-form{
    height: 2.5rem;
}

.topic-form::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;

    color: #4D4D4D;

    text-indent: 1.5rem;
}

.container-form{
    margin-top: 0.625rem;
}

.container-form input{
    height: 5.125rem;
}

.buttons-form{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;

    margin-right: 1.1rem;
}

.buttons-form img{
    margin-left: 1.875rem;
}

.buttons-form img,
.buttons-form button{
    cursor: pointer;
}

.buttons-form button{
    width: 12.75rem;
    height: 1.875rem;

    border: none;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.938rem;

    text-align: center;

    color: #FFFFFF;
}

.form .line{
    margin: 1rem auto 2rem;
    position: static;
    width: calc(100% - 1.1rem);
}
/*END FORM */

/*SEND */
.send,
.send-topic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send{
    display: none;
}

.send h4{
    margin: 1rem auto 1.125rem;
    text-align: center;
}

.send p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;

    color: #595959;
}

.send a{
    text-decoration: none;
    text-decoration-line: underline;

    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    
    margin-bottom: 2.938rem;

    color: #F48F44;
}

.send button{
    width: 14.75rem;
    height: 2rem;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.938rem;

    color: #FFFFFF;

    border: none;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;

    z-index: 1;
}

.card-send{
    margin-top: 0.875rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-send .card{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.success{
    width: calc(100% - 13.75rem - 5.4rem - 2rem);
    height: 10.270rem;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #dddddddc;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 4px;
}

.success p{
    margin: 0.5rem auto;
}

.success a{
    margin: 0rem;
}
/*END SENT */

.card{
    margin: 0.938rem;

    font-family: 'Quicksand', sans-serif;
    
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    cursor: pointer;
}

.card-header .topic{
    margin-top: 1.063rem;
    margin-bottom: 0.188rem;
    font-weight: 700;
    font-size: 1rem;
    color: #ED7839;
}

.card-header .name{
    font-weight: 500;
    font-size: 0.75rem;    
    color: #5C5C5C;
}

.card-header .question{
    margin: 0.625rem auto;
    font-weight: 400;
    font-size: 0.875rem;    
    color: #4D4D4D;
}

.card-header,
.card-footer{
    margin-left: 1.5rem;
}

.card-footer{
    display: flex;
    align-items: center;
}

.card-footer img, p{
    margin-right: 0.938rem;
    margin-bottom: 1.125rem;
}

.card-footer img{
    cursor: pointer;
}

#card2 .comment-none{
    display: none;
}

.comment-highlight{
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px;
}

.comment-highlight .comment-card{
    padding: 0.625rem 1.5rem 2.25rem;
}

.comment-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-name p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    
    color: #5C5C5C;
}

.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author p{
    margin: 0 2.125rem;

    font-size: 0.875rem;

    color: #ED7839;
}

.comment-common .comment-card{
    padding: 0.625rem 1.5rem 1.25rem;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .line{
    width: calc(100% - 13.75rem - 2rem)
}

.footer-data{
    display: flex;
}

footer img{
    height: 3.75rem;
}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #FFFFFF;

    height: 1.875rem;
    width: 8.75rem;
    
    background-color: #36144a;
    border-radius: 5px;

    transition: 0.3s;
}

footer a:hover{
    color: #36144a;
    background-color: #FFF;
}

footer .know-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0.5rem auto auto 3.125rem;
}

footer .footer-text{
    margin: 0.75rem 4rem auto 2rem;
}

footer .footer-text p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;

    color: #5C5C5C;
}


